<% if notice_message.present? %>
  <div class="alert alert-success mb-4">
    <iconify-icon icon="lucide:check-circle"></iconify-icon>
    <span><%= notice_message %></span>
  </div>
<% end %>

<%= render "projects/development_environment_configurations/form",
  project: project,
  clusters: clusters,
  git_providers: local_assigns[:git_providers],
  configuration: configuration %>
