<div class="relative">
  <div class="card bg-base-100 shadow-xl cursor-pointer overflow-hidden border hover:border-solid border-base-100 hover:border-base-300"
      data-add-ons--chart-select-target="card"
      data-chart-url=""
      data-action="click->add-ons--chart-select#selectCard"
      data-card-name="helm_chart">
    <figure class="px-4 pt-8 overflow-visible">
      <div class="w-full flex items-center justify-center">
        <img
          src="/images/helm/helm_chart.webp" alt="Helm Chart"
          class="h-[50px] object-contain"
        />
      </div>
    </figure>
    <div class="card-body items-center text-center">
      Helm Chart
    </div>
  </div>
</div>
