<h1>Welcome to Canine, <%= @user.first_name || @user.email %>!</h1>

<p>Thanks for signing up. You're all set to start deploying your applications.</p>

<p>If you have any questions, feel free to reach out to our team.</p>
