<%= turbo_frame_tag dom_id(add_on, :install_stage) do %>
  <% if add_on.installed? %>
    <script>window.location.reload();</script>
  <% end %>
  <div class="mt-4">
    <%= render "shared/partials/progress_stages",
      stages: ["Creating namespace", "Downloading chart", "Installing chart", "Waiting for chart to be ready"],
      current_stage: add_on.install_stage %>
    <div class="my-4 text-lg">
      Go grab a coffee, this could take a while.
    </div>
  </div>
<% end %>
