<div class="form-group mb-6">
  <label class="label">
    <span class="label-text">Version</span>
  </label>
  <div class="alert alert-error text-sm">
    <span><%= error_message %></span>
  </div>
</div>
