<%= form.fields_for(:project_credential_provider) do |fields| %>
  <%= render(RichSelectComponent.new(
    name: fields.field_name(:provider_id),
    collection: selectable_providers,
    selected: selectable_providers.count == 1 ? selectable_providers.first.id : nil,
    partial: "providers/selector_item",
    placeholder: "Select credentials",
    id: "provider_select",
    data: {
      "new-project-target": "provider",
      "action": "change->new-project#selectProvider"
    }
  )) %>
<% end %>
<div class="label">
  <span class="label-text-alt">* Required</span>
  <span class="label-text-alt"><%= link_to "+ Add Credentials", providers_path, class: "hover:underline", target: "_blank" %></span>
</div>
