<%
  badge_color = if status == :succeeded
    "success"
  elsif status == :failed
    "error"
  elsif status == :running
    "info"
  else
    "warning"
  end
%>
<div aria-label="Badge" class="badge badge-<%= badge_color %> font-medium capitalize">
  <%= status.to_s.humanize %>
</div>
