<%
  badge_color = case volume.status
  when "pending"
    "warning"
  when "deployed"
    "success"
  when "failed"
    "error"
  end
%>
<div aria-label="Badge" class="badge badge-<%= badge_color %> font-medium capitalize">
  <%= volume.status %>
</div>
