<% content_for :title, "Privacy Policy" %>
<% content_for :meta_description, "Read the Canine privacy policy to understand how we collect, use, and protect your data." %>

<div class="container mx-auto mt-8 max-w-3xl">
  <%= render "users/agreements/privacy_policy" %>
</div>
